* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcoral;
    
}
/* .startGameButton {
  display: inline-flex;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 250px;
    max-width: 80%;
    padding: 100px;
    margin-top: 50px;
  }
  
  .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  h1 {
    padding-left: 20px;
    padding-bottom: 20%;
  }

  .quizArea {
    
    margin: 10%;
    padding: px;
    /* max-height: fit-content; */
  }

  button {
    padding: 8px;
    padding-top: 40;
    margin: 20px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }  

  #timer {
    display: flex;
    align-items: center;
    margin-left: 80%;
    
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
#buttonArea {
  width: 700px;
}

  